
h1
{
    color: rgb(0, 0, 114);
    text-align: center;
}

p
{
font-size:15px;}

#yog
{
 background-color: rgba(241, 241, 248, 0.796);
 border-radius: 30px;
 height: 600px;
 width: 500px;
 padding: 10px 30px 10px 30px;
 margin-left: 430px;
 margin-top: 70px;
 box-shadow:0 8px 16px 0 rgb(0, 0, 0), 0 10px 20px 0 rgba(80, 80, 80, 0.19);

}